
.cardBoxHelp{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    opacity: 0.8;
}
.cardBoxHelp .cardHelp{
    position: relative;
    background: var(--primary-color);
    padding: 25px;
    
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardBoxHelp .cardHelp .cardNamee {
    color: var(--secondary-color);
    font-size: 23px;
    margin-top: 5px;
    font-weight: bold;
   
  }
  .cardBoxHelp .cardHelp .paragraf{
    padding:15px;
    color:white;
    font-size: 15px;
  }

  *{
    font-family: 'Times New Roman', Times, serif;
  }
  :root {
    --primary-color: #c98d83;
    --secondary-color:#783b31;
    --bg:#f2f1ec;

    --black:#000;
   
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
  }