:root {
  --primary-color: #eca72c;
  --secondary-color: #d62828;
  --bg: #d62828;
  --brown: #fff;
  --black: black;
  --white: #ffffff;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.content {
  background-image: url("./foods_image/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

* {
  font-family: "Times New Roman", Times, serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.logo {
  font-size: 2rem;
  color: var(--secondary-color);
  font-family: "Dancing Script", cursive;
  text-decoration: none;
}
.logo i {
  color: black;
}
p {
  font-size: 60px;
  color: var(--secondary-color);

  margin-left: 35px;
}
.paragraf {
  font-size: 18px;
  text-align: inherit;
  padding-bottom: 20px;
}
.logo {
  padding: 20px;
}
button {
  border-radius: 20px;
  margin-left: 30px;
  background-color: transparent;
  border: 2px solid white;
  color: var(--secondary-color);
  width: 10%;
  height: 30px;
}
.container {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  margin-top: 50px;
}
.the-best {
  display: flex;
  text-align: center;
  justify-content: center;
}
.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

body > div > div > div.box > a:nth-child(3),
body > div > div > div.box > a:nth-child(4) {
  display: flex;
  border: 1px solid white;
  height: 50px;
  width: 150px;
  margin-bottom: 20px;
  justify-content: center;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  color: var(--white);
  height: 75px;
  padding-top: 18px;
}
body > div > div > div.box > a:nth-child(4) {
  padding-top: 25px;
}
body > div > div > div.box > a:nth-child(3):hover,
body > div > div > div.box > a:nth-child(4):hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: 0.4s ease;
}
@media all and (min-width: 320px) and (max-width: 1024px) {
  .logo {
    padding: 5px;
  }
  .container {
    margin-top: 10px;
  }
  .box > a:nth-child(3),
  .box > a:last-child {
    background-color: var(--primary-color);
  }
}
@media all and (min-width: 320px) and (max-width: 768px) {
  .the-best {
    display: none;
  }
  .paragraf {
    margin: 0px;
  }
}
@media all and (max-width: 425px) {
  body > div > div.logo > a {
    display: none;
  }
  .box > .logo {
    padding-bottom: 70px;
  }
}
